@import "../global/accessibility.scss";

.site-header {
  --background-color: var(--bloom-color-white);
  --border-color: var(--bloom-color-gray-450);
  --link-text-color: var(--bloom-color-gray-750);
  --logo-title-text-color: var(--bloom-color-gray-950);
  --logo-title-text-size-desktop: var(--bloom-font-size-sm);
  --logo-title-text-size-mobile: var(--bloom-font-size-xs);
  --link-text-size: var(--bloom-font-size-xs);
  --mobile-menu-text-size: var(--bloom-font-size-xs);
}

.site-header__mobile-dropdown-container {
  background-color: var(--background-color);
}

.site-header__mobile-dropdown {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.site-header__mobile-dropdown-item {
  width: 100%;
  display: flex;
  color: var(--link-text-color);
  padding: var(--bloom-s3) var(--bloom-s4) var(--bloom-s3) var(--bloom-s4);
  border-top: 1px solid var(--border-color);
  font-size: var(--bloom-font-size-sm);

  &:hover,
  &:focus {
    background-color: var(--bloom-color-gray-400);
    color: var(--link-text-color);
  }
}

.site-header__mobile-dropdown-item-sublink {
  padding-left: var(--bloom-s8);
}

.site-header__mobile-drawer-dropdown-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--background-color);
  z-index: 10;
  height: 100%;
}

.site-header__mobile-drawer-dropdown {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.site-header__mobile-drawer-close-row {
  background-color: var(--bloom-color-primary);
  padding: var(--bloom-s3) var(--bloom-s2) var(--bloom-s3) var(--bloom-s2);
  display: flex;
}

.site-header__mobile-drawer-dropdown-item {
  display: flex;
  color: var(--link-text-color);
  padding: var(--bloom-s3) var(--bloom-s24) var(--bloom-s3) var(--bloom-s4);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  font-size: var(--bloom-font-size-sm);
  width: 100%;

  &:hover,
  &:focus {
    background-color: var(--bloom-color-gray-400);
    color: var(--link-text-color);
  }
}

.site-header__mobile-drawer-dropdown-item-sublink {
  padding-left: var(--bloom-s8);
  padding-right: var(--bloom-s2);
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  // TODO: What are these four explicit pixel numbers
  .navbar-width-base {
    width: 1025px;
  }

  .navbar-width-wide {
    width: 1230px;
  }

  .navbar {
    height: 75px;
    max-height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    max-width: 100%;

    .navbar-logo {
      // min-width: fit-content; DETROIT CHANGE
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      @media (min-width: $screen-md) {
        flex-shrink: 0;
        flex-grow: initial;
      }

      .logo {
        cursor: pointer;
        color: var(--bloom-color-black);
        text-align: center;
        z-index: 10;
        width: 100%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-content {
          @apply p-1;
          padding: var(--bloom-s1);
        }

        .navbar-image-only-container {
          padding: 0;
          width: 100%;
          height: 100%;

          // 75px minus .5rem of padding from the container around it
          @media (min-width: $screen-md) {
            height: 67px;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin: 0;
            }
          }
          .navbar-image-only {
            max-height: 90%;
            max-width: 100%;
          }
        }

        @media (min-width: $screen-md) {
          height: 120px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
          margin-bottom: -0.75rem;
          margin-top: -2.4rem;
          padding: var(--bloom-s1) var(--bloom-s3) var(--bloom-s1) var(--bloom-s3);

          &:focus {
            box-shadow: 0 0 3px 4px $tailwind-accent-cool;
          }
        }

        @media (min-width: $screen-print) {
          margin-top: 0;
        }

        background-color: var(--bloom-color-white);
        border-bottom: 0;
        display: flex;

        .logo__image {
          display: inline-block;
          margin-top: var(--bloom-s1); //@apply mt-0; DETROIT CHANGE
          margin-bottom: var(--bloom-s1);
          max-height: 1.5rem;

          @media (min-width: $screen-md) {
            margin-top: var(--bloom-s3); //@apply mt-0; DETROIT CHANGE
            margin-bottom: var(--bloom-s2);
            max-height: 2rem;
            // @apply inline-block; DETROIT CHANGE
          }
        }

        .logo__title {
          text-transform: uppercase;
          font-weight: 700;
          color: var(--logo-title-text-color);
          font-family: var(--bloom-font-alt-sans);
          letter-spacing: 0.05em;
          font-size: var(--logo-title-text-size-mobile);

          @media (min-width: $screen-md) {
            font-size: var(--logo-title-text-size-desktop);
          }
        }
      }

      .navbar-custom-width {
        @media (min-width: $screen-md) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    .navbar-menu {
      display: flex;
      justify-content: flex-end;
      //TODO: What are these two explicit pixel numbers
      min-width: 110px;

      @media (min-width: $screen-md) {
        height: 75px;
      }

      .navbar-mobile-menu-button {
        position: relative;
        border-radius: var(--bloom-s1);
        padding-left: var(--bloom-s2);
        padding-right: var(--bloom-s2);
        text-align: center;
        text-transform: uppercase;
        font-family: var(--bloom-font-alt-sans);
        display: inline-block;
        letter-spacing: 0.1em;
        font-size: var(--mobile-menu-text-size);
        font-weight: 700;
        line-height: 1.375;
        border: 2px var(--bloom-color-primary);
        text-decoration: none;
        margin-left: var(--bloom-s2);
        margin-right: var(--bloom-s2);
      }

      .navbar-mobile-menu-text-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .navbar-mobile-menu-text-button-content {
          padding-right: var(--bloom-s2);
          font-size: var(--bloom-font-size-sm);
          color: var(--bloom-color-primary);
          text-transform: uppercase;
        }

        .navbar-mobile-menu-icon {
          padding-right: var(--bloom-s3);
        }
      }

      .navbar-dropdown-title {
        flex-shrink: 0;
      }

      .navbar-link {
        text-transform: uppercase;
        font-size: var(--link-text-size);
        padding-left: var(--bloom-s3);
        padding-right: var(--bloom-s3);
        color: var(--link-text-color);
        height: 100%;
        padding: var(--bloom-s1) var(--bloom-s3) var(--bloom-s4) var(--bloom-s3);
        display: flex;
        align-items: flex-end;
        border-bottom: 3px solid transparent;

        @media (min-width: 840px) {
          padding-right: var(--bloom-s4);
          padding-left: var(--bloom-s4);
        }

        &:focus {
          box-shadow: 0 0 3px 4px var(--bloom-color-accent-cool);
          outline: none;
        }

        &:hover {
          border-bottom: 3px solid var(--bloom-color-primary);
          cursor: pointer;
        }

        div {
          text-align: center;
        }
      }

      .desktop-header-button {
        padding-top: var(--bloom-s7);
        border-bottom: 3px solid transparent;
      }

      .navbar-dropdown-container {
        background-color: var(--bloom-color-white);
        position: absolute;
        // TODO What are these exact numbers
        margin-left: -127px;
        margin-top: 38.5px;
        border: 1px solid var(--border-color);
        border-top: none;
        width: 143px;

        .navbar-dropdown {
          display: flex;
          flex-direction: column;

          .navbar-dropdown-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            color: var(--link-text-color);
            padding: var(--bloom-s3);
            border-top: 1px solid var(--border-color);
            text-transform: none;
            font-size: var(--bloom-font-size-sm);
            text-align: left;
            width: 100%;

            &:hover,
            &:focus {
              background-color: var(--bloom-color-gray-400);
            }
          }
        }
      }
    }
  }
}

.site-header__notice {
  width: 100%;
  background-color: var(--bloom-color-primary);

  @media (min-width: $screen-md) {
    text-align: right;
  }
  text-align: left;
  color: var(--bloom-color-white);
  display: block;
}

.site-header__notice-hide {
  display: none;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.site-header__notice-text {
  max-width: 64rem;
  font-size: var(--bloom-font-size-xs); // @apply text-sm; DETROIT CHANGE
  padding: var(--bloom-s2) var(--bloom-s3);
  margin: auto;

  a,
  a:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.drawer-transition-enter {
  transition: all 400ms;
  transform: translateX(100%);
}

.drawer-transition-enter-active {
  transition: all 400ms;
  transform: translateX(0%);
}

.drawer-transition-exit {
  transition: all 500ms;
  transform: translateX(100%);
}

.drawer-transition-exit-active {
  transform: translateX(100%);
  transition: all 500ms;
}

.navbar-logo-width-slim {
  @media (min-width: $screen-md) {
    width: 100px;
  }
}

.navbar-logo-width-base {
  @media (min-width: $screen-md) {
    width: 200px;
  }
}

.navbar-logo-width-med {
  @media (min-width: $screen-md) {
    width: 255px;
  }
}

.navbar-logo-width-wide {
  @media (min-width: $screen-md) {
    width: 350px;
  }
}

.skip-link {
  @extend .sr-only;

  &:focus {
    @extend .not-sr-only;
    position: absolute;
    z-index: 20;
    padding: var(--bloom-s2) var(--bloom-s4);
    text-decoration: underline;
    font-size: var(--bloom-font-size-base);
    color: var(--bloom-color-primary);
    background-color: var(--bloom-color-white);
  }
}

.navbar-icon-spacing {
  padding-left: var(--bloom-s2);
}
