.detail-header {
  @apply relative;
  @apply pr-4;
  @apply pb-6;
  @apply pl-4;
  @apply pt-4;
  @apply border-b;
  @apply border-gray-400;
  @apply text-primary-darker;
  @apply flex;
  @apply justify-start;

  @screen md {
    @apply pt-0;
    @apply pb-8;
    @apply text-xs;
    @apply border-none;
    @apply text-gray-800;
  }
}

.detail-header__image {
  @apply absolute;
  @apply w-12;
  @apply mr-2;
  @apply ml-0;

  @screen md {
    @apply left-0;
    @apply ml-1;
  }
}

.detail-header__image-container {
  width: auto;
  [dir="rtl"] & {
    width: var(--bloom-s14);
  }
}

.detail-header__hgroup {
  @apply ml-12;
  @apply pl-4;

  @screen md {
    @apply border-l-2;
    @apply border-primary;
  }

  [dir="rtl"] & {
    margin-right: var(--bloom-s4);
  }

  .ui-icon {
    @apply absolute;
    top: 1rem;
    right: 1rem;

    [dir="rtl"] & {
      left: 1rem;
      right: auto;
    }

    @screen md {
      @apply hidden;
    }

    svg {
      @apply w-3;
      @apply h-3;
    }
  }
}

.detail-header__title {
  @apply font-alt-sans;
  @apply uppercase;
  @apply text-sm;
  @apply tracking-widest;
  @apply text-primary-darker;

  @screen md {
    @apply text-black;
    @apply font-serif;
    @apply text-2xl;
    @apply normal-case;
    @apply tracking-normal;
    @apply text-gray-950;
  }
}

.detail-header__subtitle {
  font-size: var(--bloom-font-size-sm);

  @screen md {
    @apply text-gray-800;
  }
}
